body{
    background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    background-size: auto 150vh;
    font-family:Arial;
  }
  h1{
      color: whitesmoke;
      text-align: center;
  }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .dash{
    height: 1900px;
    width: 100%;
}


.container .dash .painel{
    width: 100%;
    height: 100%;
}

.container .dash-prefeitura{
    height: 850px;
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container .dash-prefeitura .painel{
    width: 90%;
    height: 100%;
}

